.card-body {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 4px 25px 0px #646f7933;
  display: flex;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 4px 50px 20px #646f7933;
    transform: translate(-2px, -2px);
  }
}

.card-contents {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 40px;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.card-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 40.8px;
  letter-spacing: -0.06em;
  color: black;
}

.card-domain {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: normal;
  color: gray;
}

.card-icon {
  float: left;
  margin-right: 5px;
  top: 9px;
  flex-grow: 0;
}

.indicator {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.23px;
  letter-spacing: normal;
  background-color: #cfcfcf;
  width: fit-content;
  height: fit-content;
  padding: 8px 10px;
  margin-top: 8px;
  border-radius: 6px;

  &-none {
    background-color: #1d813a;
  }

  &-minor {
    background-color: #e5a840;
  }

  &-major {
    background-color: #ce7202;
  }

  &-critical {
    background-color: #cf222e;
  }

  &-maintenance {
    background-color: #3D78B1;
  }
}
